@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    font-family: 'Silkscreen', cursive;
    width: 800px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template: 1fr / 1fr;
}

header {
    background-color: skyblue;
    padding: 1rem;
}

nav {
    background-color: greenyellow;
    padding: 1rem;
}

nav ul li {
    list-style-type: none;
    display: block;
    width: 100%
}

.card {
    border-style: dashed;
    padding: 1rem;
    margin-bottom: 1rem;
}

footer {
    background-color: greenyellow;
}

ul {
    list-style-type: none;
}